<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <title>Zoo</title>
</head>

<body>
    <div class="container mt-5">
        <form method="POST" action="/addavalia">
            <p class="h2">Escreva sua avaliação</p>
            <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="form2Example1">Avaliação</label>

                <textarea id="form2Example1" name="texto" rows="4" cols="40" class="form-control"
                    placeholder="Escreva aqui sua avaliação">

                </textarea>
                <!-- <input id="form2Example1" name="texto" class="form-control" type="text" multiple /> -->
            </div>
            <button type="submit" data-mdb-button-init data-mdb-ripple-init
                class="btn btn-primary btn-block mb-4">Enviar avaliação</button>

        </form>
    </div>
</body>

</html>